<% if (!ajax) {layout('./layout/page')} -%>
<% block('title', user.username) -%>
<p class="lead text-center">Страница пользователя <%- user.username -%></p>

<div class="col-lg-4 col-md-6 col-lg-4-v col-md-6-v col-sm-6 col-sm-6-v">
	<a class="thumbnail thumbnail-v" href="/user/<%- user._id -%>/info">
		<div class="container-fluid" id="userInfoMini">
			<%- partial('./partials/userInterface/uInfoMini') -%>
		</div>
	</a>
</div>

<div class="col-lg-4 col-md-6 col-lg-4-v col-md-6-v col-sm-6 col-sm-6-v">
	<a class="thumbnail thumbnail-v" href="/user/<%- user._id -%>/blog" style="overflow:hidden;">
		<div class="container-fluid" id="userBlogMini" style="height:100%">
			<%- partial('./partials/userInterface/uBlogMini') -%>
		</div>
	</a>
</div>

<div class="col-lg-4 col-md-6 col-lg-4-v col-md-6-v col-sm-6 col-sm-6-v">
	<a class="thumbnail thumbnail-v" href="/user/<%- user._id -%>/photo" style="overflow:hidden;">
		<div class="container-fluid" id="userPhotoMini">
			<%- partial('./partials/userInterface/uPhotoMini') -%>
		</div>
	</a>
</div>

<div class="col-lg-4 col-md-6 col-lg-4-v col-md-6-v col-sm-6 col-sm-6-v">
	<a class="thumbnail thumbnail-v" href="/#">
		<div class="container-fluid" style="overflow:hidden;"></div>
	</a>
</div>

<script>

socket = io(location.host+'/user', {'reconnection':false,
									'forceNew':true,
									'muliplex': false,
									'transport': ['websocket']
									});

socket.on('connect', function() {
	socket.emit('join', '<%- user._id -%>');
});
socket.on('free', function() {
	var div = $('#usernameInput').get(0);
	div.className = 'form-group has-success has-feedback';
	div.children[1].className = 'xs form-control-feedback glyphicon glyphicon-ok';
});

socket.on('buzy', function() {
	var div = $('#usernameInput').get(0);
	div.className = 'form-group has-error has-feedback';
	div.children[1].className = 'xs form-control-feedback glyphicon glyphicon-remove';
});

socket.on('newBlog', function(message, date, user) {

	var blog = document.createElement('div');
	blog.className = "blogPost";
	blog.style.height = 0;
	blog.innerHTML = "<div class='row'><div class='col-xs-12'><p>"+message+"</p></div></div>";
	$('#miniBlogRoll').prepend(blog);
	setTimeout(function() {blog.style.height = "";}, 50)
	
	if ($('#blogRoll').get(0)) {
		var bigBlog = document.createElement('div');
		bigBlog.className = "blogPost";
		bigBlog.style.height = 0;
		bigBlog.innerHTML = "<div class='row'><div class='col-xs-12'><p>"+message+"</p></div><div class='col-xs-12'><em>"+user+" "+datify(date)+"</em></div></div>";
		$('#blogRoll').children().prepend(bigBlog);
		setTimeout(function() {bigBlog.style.height = '';}, 50)
	}

});

socket.on('new photo', function(files) {
	if (!$('#photoRoll').get(0)) return;
	for (var i=0; i<files.length; i++) {
		var img = document.createElement('img');
		img.src = files[i]+'prev.jpg';
		var slot = document.createElement('div');
		slot.className = 'photoPrev';
		slot.onclick = function() {
			var file = files[i].slice(files[i].lastIndexOf('/')+1);
			return function () {
				subscribeContent('<%- user._id -%>', 'photo', file);
			}
		}();
		slot.appendChild(img);
		$('#photoRoll').children('.row').prepend(slot);
	}
});

socket.on('new avatar', function(avatarID) {
	changeAvatar('sm');
	if ($('#avatar').get(0)) {
		$('#avatar').get(0).parentNode.onclick = function() {
			var link = '/user/<%- user._id -%>/photo/'+avatarID;
			return function() {
				subscribeContent('<%- user._id -%>', 'photo', avatarID);
			}
		}();
		changeAvatar();
	}

	function changeAvatar(size) {
		size = size || '';
		if (size !== '') size = '-'+size;
		var oAva = $('#avatar'+size).get(0);
		oAva.style.opacity = 0;
		oAva.id = '';
		var ava = document.createElement('img');
		ava.src = "/data/<%- user._id -%>/avatar"+size+".jpg?";
		ava.id = 'avatar'+size;
		ava.style.position = 'absolute';
		ava.style.left = 0;
		ava.style.right = 0;
		ava.style.opacity = 0;
		setTimeout(function() {
			oAva.parentNode.appendChild(ava);
			oAva.parentNode.removeChild(oAva);
			ava.style.position = '';
			setTimeout(function() {
				ava.style.opacity = 1;
			}, 1)
		}, 300);
	}
});

socket.on('removed photo', function(id) {
	if ($('#'+id).get(0)) $('#'+id).remove(); 
});

socket.on('error', function(err) {
	launchModal('Извините, произошла ошибка!</br>'+err);
});

socket.on('error_', function(err) {
	launchModal('Извините, произошла ошибка!</br>'+err);
});

socket.on('new comment', function(ans) {
    if (window.content && window.content.comments) {
        window.content.comments.add(ans);
    }
});

socket.on('remark comment', function(ans){
	if (ans.type == 'photo') {
		if (window.content && window.content.comments && window.content.comments[ans.commentID]) {
            window.content.comments[ans.commentID].remark(ans);
		}
	}
});

socket.on("subscription", function(ans) {
    Content.getInstance(ans);
});

$('.thumbnail-v').each(function (i, quad) {
	quad.onclick = function() {
		showQuad(quad);
		return false;
	}
});

<% if (special) { %>
socket.on('ready', function() {
    subscribeContent('<%- user._id -%>', '<%- type -%>', '<%- photo._id -%>');
});
<% } %>
</script>