	<p class="text-center lead">Блог</p>
	<div class="col-xs-12 col-xs-11-vp" style="overflow-y:auto; float:right;" id="blogRoll">
		<div class="row">
			<% for(var i = user.data.blog.length-1; i >=0 ; i--) { %>
				<div class="blogPost" onclick="subscribeContent('<%- user._id -%>', 'blog', '<%- user.data.blog[i]._id -%>')">
					<div class="row">
						<div class="col-xs-12">
							<p><%- user.data.blog[i].message -%></p>
						</div>
						<div class="col-xs-12">
							<em><%- user.username -%> <%- user.datify(user.data.blog[i].date) %></em>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
