	<p class="text-center lead">Информация</p>
	<div class="row">
		<div class="col-xs-6">
			<% if (user.info.name.first) { %>
				<div class="row">
					<div class="col-xs-12">
						<p>Имя:</br>
						<%- user.info.name.first -%> <%- user.info.name.last -%></p>
					</div>
				</div>
			<% } %>
			<% if (user.info.birth.date) { %>
				<div class="row">
					<div class="col-xs-12">
						<p>День рождения:</br>
						<%- user.datify(user.info.birth.date, {time:false, year:false}) -%></p>
					</div>
				</div>
			<% } %>
			<% if (user.info.birth.town) { %>
				<div class="row">
					<div class="col-xs-12">
						<p>Город:</br>
						<%- user.info.birth.town -%></p>
					</div>
				</div>
			<% } %>
		</div>
		<div class="col-xs-6">
			<img src="/data/<%- user._id -%>/avatar-sm.jpg" width="100%" id="avatar-sm">
		</div>
	</div>