<div class="row" style="height:50%">
	<div class="col-xs-6 col-xs-12-vp">
		<p class="text-center lead">Информация</p>
		<div class="row">
			<div class="col-xs-6">
				<p>Псевдоним:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.username -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Имя:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.name.first -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Фамилия:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.name.last -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Отчество:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.name.middle -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Страна:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.birth.country -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>День рождения:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.getISODate() -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Родной город:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.birth.town -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Контактный Телефон:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.phone -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Адрес электронной почты:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.email -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Личный сайт:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.site -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Имя в Skype:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.Skype -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Адрес страницы в ВК</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.VK -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Адрес страницы на Facebook:</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.FB -%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Адрес в Twitter</p>
			</div>
			<div class="col-xs-6">
				<p><%- user.info.contacts.Twitter -%></p>
			</div>
		</div>
</div>
	<div class="col-xs-6 col-xs-12-vp text-right">
		<div onclick="showPhoto('/user/<%- user._id -%>/photo/<%- user.info.avatar -%>')">
			<img src="/data/<%- user._id -%>/avatar.jpg" style="max-width:100%" id="avatar">
		</div>
	</div>
</div>
<div class="row" style="height:50%">
	<div class="col-xs-6 col-xs-12-vp">
	</div>
	<div class="col-xs-6 col-xs-12-vp">
	</div>
</div>