<div class="row" style="height:50%">
	<div class="col-xs-6 col-xs-12-vp">
		<form  autocomplete="off" name='userInfo' class='form-inline' onsubmit='return false'>
			<p class="text-center lead">Информация (Master)</p>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Псевдоним:</p>
				</div>
				<div class="col-xs-6">
					<div class="form-group" id="usernameInput" style="width:100%; margin:0 0 5px 0; height:26px;">
						<input name="username" type="text" class='form-control xs' value='<%- user.username -%>' oninput='checkUsername(this, "<%- user.username -%>")'>
						<span class="form-control-feedback glyphicon"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Имя:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.name.first" type="text" class='form-control xs' value='<%- user.info.name.first -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Фамилия:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.name.last" type="text" class='form-control xs' value='<%- user.info.name.last -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Отчество:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.name.middle" type="text" class='form-control xs' value='<%- user.info.name.middle -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Страна:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.birth.country" type="text" class='form-control xs' value='<%- user.info.birth.country -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">День рождения:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.birth.date" type="date" class='form-control xs' value='<%- user.getISODate() -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Родной город:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.birth.town" type="text" class='form-control xs' value='<%- user.info.birth.town -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Контактный Телефон:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.phone" type="text" class='form-control xs' value='<%- user.info.contacts.phone -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Адрес электронной почты:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.email" type="email" class='form-control xs' value='<%- user.info.contacts.email -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Личный сайт:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.site" type="url" class='form-control xs' value='<%- user.info.contacts.site -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Имя в Skype:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.Skype" type="text" class='form-control xs' value='<%- user.info.contacts.Skype -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Адрес страницы в ВК</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.VK" type="url" class='form-control xs' value='<%- user.info.contacts.VK -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Адрес страницы на Facebook:</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.FB" type="text" class='form-control xs' value='<%- user.info.contacts.FB -%>'>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<p class="control-label" style="text-align:left">Адрес в Twitter</p>
				</div>
				<div class="col-xs-6">
					<input name="info.contacts.Twitter" type="text" class='form-control xs' value='<%- user.info.contacts.Twitter -%>'>
				</div>
			</div>
			<div class="row text-center">
				<button type="submit" class="btn btn-primary" data-loading-text="Отправляю..." onclick="submitForm(document.forms['userInfo'], '/user/saveInfo', function () {updateHref(location.href+'/infoMini', $('#userInfoMini'))})">Сохранить</button>
			</div>
		</form>
	</div>
	<div class="col-xs-6 col-xs-12-vp text-right">
		<div onclick="showPhoto('/user/<%- user._id -%>/photo/<%- user.info.avatar -%>')">
			<img src="/data/<%- user._id -%>/avatar.jpg" style="max-width:100%" id="avatar">
		</div>
		<form id="photoForm" enctype="multipart/form-data" method="POST">
			<span class="btn btn-primary btn-file">Browse<input type="file" name="photo[]"></span>
		</form>
		<div class="progress progress-striped active" style="display:none">
			<div class="progress-bar" role="progressbar" style="width:0">
			</div>
		</div>
	</div>
</div>
<div class="row" style="height:50%">
	<div class="col-xs-6 col-xs-12-vp">
	</div>
	<div class="col-xs-6 col-xs-12-vp">
	</div>
</div>

<script>
if (window.FormData === undefined) {
	launchModal('Извините, но Ваш браузер устарел, загрузка изображений работать не будет!');
} else {

	$('#photoForm')
    .on('change', '.btn-file :file', function() {
        var input = $(this).get(0),
            numFiles = input.files ? input.files.length : 1,
            label = input.value.replace(/\\/g, '/').replace(/.*\//, '');
			
		var data = new FormData();
			
		for (var i in input.files) { 

			if (i != 'length' && i != 'item') {
				if (input.files[i].name.length < 1) {
					launchModal('Мне очень жаль, но файл не имеет имени, изображение не будет загружено');
					return false;
				}
				if (input.files[i].size > (20 * 1024 * 1024)) {
					launchModal('Мне очень жаль, но один файл слишком велик, изображение не будет загружено');
					return false;
				}
				if (input.files[i].type != 'image/png' && input.files[i].type != 'image/jpg' && input.files[i].type != 'image/gif' && input.files[i].type != 'image/jpeg' ) {
					launchModal('Мне очень жаль, но здесь может быть загружено только изображение');
					return false;
				}
				data.append('file-'+i, input.files[i]);
			}
		}
			
        $(input).trigger('fileselect', data);
	});


    $('.btn-file :file').on('fileselect', function(event, data) {
        $.ajax({
			url: '/user/saveAvatar',
			type: 'POST',
			data: data,
			processData: false,
			xhr: function() {
				var settings = $.ajaxSettings.xhr();
				if (settings.upload) {                                 //это какой-то индуистский метод, надо подразобраться
					settings.upload.addEventListener('progress', moveProgress)
				}
				return settings;
			},
			contentType: false,
			cache: false,
			statusCode: {
				200: function() {
					$('.progress-bar').parent().css('display', 'none');
					launchModal('Аватар успешно загружен');
				},
				500: function(jqXHR) {
					var ans = JSON.parse(jqXHR.responseText)
					launchModal(ans.message);
				},
				404: function(jqXHR) {
					var ans = JSON.parse(jqXHR.responseText)
					launchModal(ans.message);
				}
			},
			beforeSend: function() {
				$('.progress-bar').parent().css('display', 'block');
				$('.progress-bar').css('width', 0);
			}
		});
		function moveProgress(e) {
			$('.progress-bar').css('width', 100*e.loaded/e.total+'%');
		}
    });
}
</script>