<!DOCTYPE html>
<html>
<head>
  <title><%=blocks.title%></title>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrapYeti.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>

  <script src="/javascripts/script.js"></script>
  <script data-main="/javascripts/main" src="/vendor/bower_components/require/require.js"></script>
</head>
<body>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="largeModalLabel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			
		</div>
	</div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="errorModalLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="errorModalLabel">Сообщение</h4>
			</div>
			<div class="modal-body">
				<div style="text-align:center;" id="errorModalMessage">Что-то написано)</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>

<header><%-blocks.header-%></header>
<section class="container">
	<div class="row">
		<div id="carett" class="container">
		</div>
	</div>

<div class="btn" id='infoBar' style='position: fixed; right:0; top:0; z-index:2;'>
	<i class="glyphicon glyphicon-user"></i> <span></span></br>
	<i class="glyphicon glyphicon-eye-open"></i> <span></span>
</div>

  <%-partial('../partials/topNavigation')%>

<div id="pseudoBody">
  <%-body %>
</div>
</section>

<div id="cover"></div>
<footer>
    <p><small>Radio W team. Version 0.0.3</small></p>
  <%-blocks.footer%>
</footer>
</body>
</html>